<!--
<section class="docs__section docs__intro">
  <nav class="docs__nav">
    <ul class="docs__primary-nav fsa-m-b--xxs">
    {% for section in site.sections %}
    <li class="docs__primary-nav-item">
      <a class="docs__primary-nav-link" href="{{ section.url | prepend: site.baseurl }}">{{ section.text }}</a>
    </li>
    {% endfor %}
    </ul>
  </nav>
</section>
-->
<nav>
  <div class="pb-nav">
    <!-- <ul class="pb-nav__list">
      {% for section in site.sections %}
        <li class="pb-nav__list-item">
          <a class="pb-nav__link" href="{{ section.url | prepend: site.baseurl }}">{{ section.text }}</a>
        </li>
      {% endfor %}
    </ul> -->
    <ul class="pb-nav__list">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
          {% assign current = 'pb-nav__list-item--active' %}
        {% endif %}
        <li class="pb-nav__list-item {% if forloop.first %}pb-nav__list-item--first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
          <a class="pb-nav__link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
